/* Reset */
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}

html,body{
    width:100%;
    height:100%;
    overflow:hidden;
}

/* Background Video */
#bg-video{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    object-fit:cover;
    z-index:-3;
}

/* Dark Overlay */
.overlay{
    position:fixed;
    inset:0;
    background:rgba(0,0,0,.35);
    backdrop-filter:blur(1px);
    z-index:-2;
}

/* Center Content */
.content{
    width:100%;
    height:100vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    text-align:center;
    padding:20px;
}

/* Typing Text */
#typing{
    #typing{
    opacity:0;
    transform:scale(0.5s);
    transition:0.8s  ease-in-out;
}
    color:#ffffff;
    font-size:65px;
    font-weight:700;
    text-shadow:
        0 0 10px #ffffff,
        0 0 20px #ff7eb3,
        0 0 40px #ff4d88;
    transition:.5s;
}

/* Final Text */
#finalText{
    display:none;
    color:white;
    margin-top:20px;
    line-height:1.5;
    font-size:52px;
    font-weight:bold;
    text-shadow:
        0 0 15px white,
        0 0 30px hotpink;
    animation:showText 2s ease;
}

#finalText span{
    color:#ffd6e7;
    font-size:42px;
}

/* Animation */
@keyframes showText{

0%{
opacity:0;
transform:scale(.7);
}

100%{
opacity:1;
transform:scale(1);
}

}

/* Mobile */
@media(max-width:768px){

#typing{
font-size:42px;
}

#finalText{
font-size:34px;
}

#finalText span{
font-size:28px;
}

}